<shared-form-card
  title="Choisissez un nouveau mot de passe"
  description="Renseignez votre nouveau mot de passe ci-dessous pour réinitialiser votre compte."
>
  <div class="flex flex-col gap-y-5">
    <form class="space-y-7" (ngSubmit)="handleSubmit()" [formGroup]="resetPasswordForm">
      <div class="flex flex-col gap-4">
        <div class="grid gap-2">
          <label hlmLabel for="new-password">Nouveau mot de passe</label>
          <input type="password" id="new-password" hlmInput placeholder="********" formControlName="newPassword" />
          @if (resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.errors) {
          <app-input-error>
            @if (resetPasswordForm.get('newPassword')?.errors?.['required']) { Mot de passe requis } @if
            (resetPasswordForm.get('newPassword')?.errors?.['minLength']) { Mot de passe invalide }
          </app-input-error>
          }
        </div>
      </div>
      <button hlmBtn class="w-full" type="submit" [disabled]="isLoading()">
        @if (isLoading()) {
        <hlm-spinner />
        } Réinitialiser mon mot de passe
      </button>
    </form>
  </div>
</shared-form-card>
